################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/E-TicaretAPI/Core/E-TicaretAPI.Application/bin/Debug/net6.0
/E-TicaretAPI/Core/E-TicaretAPI.Domain/bin/Debug/net6.0
/E-TicaretAPI/Infrastructure/E-TicaretAPI.Infrastructure/bin/Debug/net6.0
/E-TicaretAPI/Infrastructure/E-TicaretAPI.Mail/bin/Debug/net6.0
/E-TicaretAPI/Infrastructure/E-TicaretAPI.SignalR/bin/Debug/net6.0
